<template>
  <section class="overlayContent">
    <textarea class="documentData" :value="documentData" disabled></textarea>
  </section>
  <section class="overlayToolbar">
    <button @click="closeOverlay">Close</button>
  </section>
</template>

<script>
  export default {
    props: [ 'documentData' ],
    methods: {
      closeOverlay() {
        this.$emit('closed', true)
      }
    }
  }
</script>

<style scoped>
  .overlayContent {
    background: #fff;
    max-width: 800px;
    position: relative;
    overflow-y: scroll;
    width: 100vw;
    padding: 0 10px;
  }
  textarea.documentData {
    width: 100%;
    height: 85vh;
    border: none;
    font-family: arial;
    font-size: 11pt;
    overflow: visible;
  }

  section.overlayToolbar button {
      background: #ba4040;
      color: #fff;
      font-weight: bold;
      font-size: 14pt;
      padding: 5px 15px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      border: 3px solid transparent;
  }

  section.overlayToolbar {
      text-align: right;
  }

  section.overlayToolbar button:hover {
      background: #000;
      border: 3px solid #ba4040;
      color: #ba4040;
  }
</style>
