<script setup>
    import DocumentModal from './DocumentModal.vue'
</script>
<template>
    <section id="document-upload">
        <div class="instructions">
            <h2>Classified Document Censor</h2>
        </div>
        <form>
            <div class="upload-form-field-wrap">
                <label for="censor">Censor Text</label>
                <p>Add a comma separated list of phrases you would like to censor from your uploaded document.</p>
                <textarea 
                    id="upload-form-field__censor" 
                    placeholder="Example: Lorem Ipsum, dolor"
                    @change="handleCensorUpdate"></textarea>
            </div>
            <section class="errorContainer" v-if="errors.length > 0">
                <p class="errorExplaination">Encountered the following errors preventing you from uploading the document:</p>
                <div class="upload_error" v-for="error in errors" :key="error.message">
                    <p>{{ error.message }}</p>
                </div>
            </section>
            <div class="upload-form-field-wrap">
                <label for="document">Select File</label>
                <p>Attach the file you wish to censor.</p>
                <input id="upload-form-field__file" @change="handleFileSelected" ref="file" type="file" name="document" />
            </div>
            <div id="upload-form-submit">
                <button :disabled="submitDisabled" v-on:click="submitUpload">Censor File</button>
            </div>
        </form>
    </section>
    <div id="documentModal" class="overlay" v-if="processedDocument">
        <DocumentModal 
            @closed="handleModalClose"
            :documentData="processedDocument"></DocumentModal>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                censor: '',
                documentUpload: null,
                submitDisabled: true,
                processedDocument: null,
                errors: []
            }
        },
        methods: {
            handleModalClose() {
                this.processedDocument = null
            },
            handleCensorUpdate(event) {
                // For some reason v-model is breaking upon development build with vite.
                // This method is an alternative quick-fix for the underlying issue
                console.log('value', event.target.value)
                this.censor = event.target.value
                this.errors = []
            },
            handleFileSelected(event) {
                console.log('file selected', event)
                this.documentUpload = event.target.files[0]
                this.submitDisabled = false
                this.errors = []
            },
            submitUpload(event) {
                event.preventDefault()
                const formData = new FormData()
                formData.append('document', this.documentUpload, this.documentUpload.name)
                formData.append('censor', this.censor)
                axios.post('/api/upload', formData)
                    .then(res => {
                        // console.log('res', res.data)
                        this.processedDocument = res.data;
                    })
                    .catch(err => {
                        const ErrDOM = document.createElement('html')
                        ErrDOM.innerHTML = err.response.data;
                        let errMessage = ErrDOM.getElementsByTagName('pre')[0]

                        console.log('err', JSON.parse(errMessage.innerHTML))
                        this.errors = JSON.parse(errMessage.innerHTML)
                    })
            }
        }
    }
</script>

<style scoped>
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        background: #000000d4;
    }

    .upload-form-field-wrap label {
        font-weight: bold;
        font-size: 11pt;
    }

    .upload-form-field-wrap p {
        line-height: 17px;
    }

    textarea#upload-form-field__censor {
        width: calc(100% - 10px);
        border: 2px solid #999;
        border-radius: 5px;
        padding: 5px;
        margin-top: 13px;
        background: #ebebeb;
    }

    textarea#upload-form-field__censor:focus {
        background: #fff;
        outline: none;
        border-color: #162c76;
    }

    input#upload-form-field__file {
        background: #ebebeb;
        width: calc(100% - 20px);
        margin-top: 12px;
        padding: 10px;
        border-radius: 5px;
    }

    #upload-form-submit {
        text-align: center;
        margin-top: 10px;
    }

    #upload-form-submit button {
        font-size: 12pt;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: #162c76;
        color: #f9db10;
        cursor: pointer;
    }

    #upload-form-submit button:hover {
        background: #f9db10;
        color: #e50f08;
    }

    #upload-form-submit button:active {
        background: #182654;
        color: #e0c825;
    }   

    #upload-form-submit button:disabled {
        opacity: .5;
    }

    section.errorContainer {
        color: #c31919;
        font-weight: bold;
        font-size: 10pt;
    }

    p.errorExplaination {
        width: 80%;
        line-height: 11pt;
        margin: 10px;
    }

    .upload_error {
        background: #ffcaca;
        padding: 6px;
        border-radius: 3px;
        border: 2px dashed #c72825;
    }

    @media screen and (max-width: 500px) {
        div#documentModal {
            background: #fff;
        }

        textarea.documentData {
            width: 96% !important;
            position: relative;
            left: 2%;
        }
    }
</style>