@import "./base.css";

body {
  display: grid;
  justify-content: center;
  height: 100%;
}

main {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

div#app {
  max-width: 500px;
  margin-top: 10%;
}

div#app header {
  text-align: center;
}

div#app header .wrapper nav {
  display: inline-block;
  border-bottom: 1px dashed yellow;
  padding-bottom: 20px;
}

div#app header .wrapper nav a {
  background: #ffffff1c;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
}

.wrapper {
  margin: 20px 0 30px 0px;
}

div#app header .wrapper nav a:hover {
  background: #f9db10;
  color: #e50f08;
}

.router-link-exact-active {
  color: #fff;
  background: #162c78;
}

div#app header .wrapper nav a.router-link-exact-active {
  color: #fff;
  background: #162c78;
}