<script setup>
import { RouterView } from 'vue-router'
</script>

<template>
  <header>
    <img alt="CIA Logo" class="logo" src="@/assets/CIA_logo.svg" width="200" height="200" />
  </header>

  <RouterView />
</template>

<style scoped>
  @media screen and (max-width: 500px) {
    header img.logo {
        width: 100px;
        height: 100px;
    }
  }
</style>
